workflow_n8n.json
{
  "name": "My workflow local",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1520,
        560
      ],
      "id": "8b3b6d3b-12c9-4113-be52-c6cbaf492913",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Import du module système pour écrire des fichiers\nconst fs = require('fs');\n\n// Ton chemin exact\nconst chemin = '/Users/oumarsang/mon-agent-email/web-interface/public/mes_emails.json';\n\n// On récupère les données qui arrivent (les emails)\nconst mesDonnees = $input.all().map(item => item.json);\n\n// On écrit le fichier \"à la dure\"\nfs.writeFileSync(chemin, JSON.stringify(mesDonnees, null, 2));\n\n// On renvoie un petit message de succès\nreturn [{ json: { status: \"Succès ! Fichier écrit.\", path: chemin } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        640
      ],
      "id": "370adc5b-4da8-4d99-91fb-4279ac23aea7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un assistant personnel. Analyse les informations de cet email :\n\n- Expéditeur : {{ $json.From }}\n- Date : {{ new Date(Number($json.internalDate)).toLocaleString(\"fr-FR\") }}\n- Sujet : {{ $json.Subject }}\n- Contenu : {{ $json.snippet }}\n\nTâche :\nGénère une réponse au format JSON strict (sans texte avant ni après) suivant cette structure exacte :\n{\n  \"from\": \"l'adresse de l'expéditeur\",\n  \"date\": \"la date fournie\",\n  \"subject\": \"le sujet de l'email\",\n  \"summary\": \"ton résumé très court (1 phrase) en français\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2064,
        640
      ],
      "id": "f2fc1aa8-9290-404d-bd94-1c5d0e866bfd",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1936,
        864
      ],
      "id": "e0d4d398-7d5e-48c7-9daf-19bd1c190652",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "Ju8UN2BvnzklOTSz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f183fffb-7166-4feb-93be-da3a6e19baa0",
              "name": "sujet",
              "value": "Valeur",
              "type": "string"
            },
            {
              "id": "234d0aeb-34ba-4771-93be-99b8cd99a418",
              "name": "Subject",
              "value": "={{ $('Get many messages').item.json.Subject }}",
              "type": "string"
            },
            {
              "id": "a1de05f0-4a93-4357-b655-e077fb627535",
              "name": "resume",
              "value": "Valeur",
              "type": "string"
            },
            {
              "id": "ed743d91-b8a3-4d19-81d7-b4d5c04ddd86",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        640
      ],
      "id": "a985639f-f3df-46eb-ac15-d71865707eb6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2624,
        640
      ],
      "id": "01a4b32d-47bc-45ac-aece-22cf50cae7c8",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1552,
        832
      ],
      "id": "117696ce-3f74-4e44-af1a-35826dd04cac",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "=after:{{ $today.format('yyyy/MM/dd') }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1856,
        640
      ],
      "id": "7c634918-39f1-4e3b-88d9-9fa5b69c5e9f",
      "name": "Get many messages",
      "webhookId": "eec15023-6756-4529-a179-fe679d75aaf3",
      "credentials": {
        "gmailOAuth2": {
          "id": "8xsRVUzN5aMlL7RG",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b6059abe-cb6a-4899-8701-4ccbe81df916",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "301954f6350f1655a205ed157a8b0c2bc25993ac6696e9785af777f7ae101d60"
  },
  "id": "VMwguofkYZvh1PYe",
  "tags": []
}